/*
    Use the DejaVu Sans font for displaying and embedding in the PDF file.
    The standard PDF fonts do not support Unicode characters.
*/
.printable * {
    font-family: "DejaVu Sans", sans-serif !important;
}

.wrapper {
    /*height: 0;*/
    overflow: hidden;
}

@font-face {
    font-family: "DejaVu Sans";
    font-weight: bold;
    src: url("/assets/DejaVuSans.ttf") format("truetype");
}